<div class="footer-main">
    <div class="footer2">
        <div class="can">
            <div class="can2">
                Thống kê
            </div>
            <div class="footer-down-stats">
                <div class="footer-down-stats-header">334,384 Địa điểm</div>
                <div class="footer-down-stats-desc">toàn quốc</div>
            </div>
            <div class="footer-down-stats">
                <div class="footer-down-stats-header">38,630,265 người sử dụng</div>
                <div class="footer-down-stats-desc">trong &amp; ngoài nước</div>
            </div>
            <div class="footer-down-stats">
                <div class="footer-down-stats-header">1,481,841 bình luận</div>
                <div class="footer-down-stats-desc">đã chia sẻ</div>
            </div>
            <div class="footer-down-stats">
                <div class="footer-down-stats-header">608,066 check-in</div>
                <div class="footer-down-stats-desc">đã thực hiện</div>
            </div>
            <div class="footer-down-stats">
                <div class="footer-down-stats-header">10,232,333 hình ảnh</div>
                <div class="footer-down-stats-desc">được tải lên</div>
            </div>
            <div class="footer-down-stats">
                <div class="footer-down-stats-header">24,623,376 Bộ sưu tập</div>
                <div class="footer-down-stats-desc">bộ sưu tập được tạo</div>
            </div>

        </div>
        <div class="footer-intro-app">
            Tìm địa điểm trên đường đi? Tải app Foody!
        </div>
        <div class="ap">
            <a href="https://itunes.apple.com/app/id570435154">
                <span class="setting">iOS App</span>
                <img src="<%=baseURL%>Public/img/ios-footer.png" width="250px" height="350px">
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.foody.vn.activity">
                <span class="setting">Android App</span>
                <img src="<%=baseURL%>Public/img/android-footer.png" width="250px" height="350px">
            </a>
            <a href="https://www.windowsphone.com/en-us/store/app/foody/0ed64e33-cff6-4211-a971-71e496ae9066">
                <span class="setting">Windows App</span>
                <img src="<%=baseURL%>Public/img/windows-footer.png" width="250px" height="350px">
            </a>

        </div>
    </div>
</div>
</diva>


<div class="footer">
    <div class="footer-middle-box">
        <div class="footer-titles">Khám phá</div>
        <ul>

            <li><a href="#">Ứng dụng Mobile</a></li>
            <li><a href="#">Tạo bộ sưu tập</a></li>
            <li><a href="#">Bảo mật thông tin</a></li>
            <li><a href="#">Quy định</a></li>

        </ul>
    </div>
    <div class="footer-middle-box" style="padding-left: 35px; width: 200px;">
        <div class="footer-titles">Công ty</div>
        <ul>
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Trợ giúp</a></li>
            <li><a href="#">Việc làm</a></li>
            <li><a href="#">Quy chế</a></li>
            <li><a href="#">Thỏa thuận sử dụng dịch vụ</a></li>
            <li><a href="#">Liên hệ</a></li>
        </ul>
    </div>
    <div class="footer-middle-box" style="padding-left: 35px; width: 200px;" id="footer-join">
        <div class="footer-titles">Tham gia trên</div>
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Youtube</a></li>
            <li><a href="#">Google</a></li>
            <li><a href="#">ShopeeFood.vn</a></li>
        </ul>
    </div>
    <div class="footer-middle-box" style="padding-left: 35px; width: 160px;">
        <div class="footer-titles">Giấy phép</div>
        <ul>
            <li><a>MXH 363/GP-BTTTT</a></li>
            <li><a href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=13113">
                    <img src="../../Public/img/gov_seals.jpg" width="160" style="margin-left: -5px;"
                        alt="logo-da-dang-ky-bo-cong-thuong"></a></li>
        </ul>
    </div>
</div>

</body>

</html>