<%- include('./teamplates/header') %>
<h1>Đăng ký</h1>
<div style="color: red;">
    <%= message %>

</div>
<form class="DN" action="" method="post">
    <input type="text" name="name" id="" placeholder="Học và tên"><br>
    <input type="email" name="email" id="" placeholder="Email của bạn"><br>
    <input type="password" name="password" id="" placeholder="Mật khẩu"><br>
    <input type="password" name="password2" id="" placeholder="Nhập lại mật khẩu"><br>

    <button type="submit">Đăng ký</button>
</form>

<%- include('./teamplates/footer') %>
