<%- include('./teamplates/header') %>
<h1>Đăng nhập</h1>
<div style="color: red;">
    <%= message %>

</div>
<form class="DN" action="" method="post">
    <input type="email" name="email" id="" placeholder="Email của bạn"><br>
    <input type="password" name="password" id="" placeholder="Mật khẩu"><br>
    <button type="submit">Đăng nhập</button>
</form>

<%- include('./teamplates/footer') %>
